@keyframes gradientShift {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.weather-card-bg {
  background: var(--card-gradient);
  background-size: 400% 400%;
  animation: gradientShift 5s linear infinite;
}

.weather-description {
  color: #E6F082;
}
