@tailwind base;
@tailwind components;
@tailwind utilities;

.button-primary {
  background-color: #E6F082;
  color: black;
}

.button-primary:hover {
  opacity: 0.75;
}

.App {
  background-color: #0A0A0F;
  min-height: 100vh;
  color: white;
  text-align: center;
}

